<!doctype html>
<html class="no-js" lang="en">
<!--
Quellcode ist auf Github zu finden: https://github.com/sil4s/ec-pfalz
Ich freue mich über Verbesserungsvorschläge ;)
-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <meta name="description" content="{{site.description}}">
  <meta name="Keywords" content="{{site.keywords}}">
</head>
<!--[if lt IE 9]> <p class="chromeframe">Du verwendest einen <strong>veralteten</strong> Browser. Bitte <a href="http://www.whatbrowser.org/intl/de/">aktualisiere deinen Browser</a>, um die Seite bestmöglich darzustellen.</p> <![endif]-->
<body>
{{content}}
</body>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600' rel='stylesheet' type='text/css'>
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
{% include analytics.html %}
</html>
